<h1>{{ signal.sensor }}</h1>



<ul>

	<li>SignalID: {{ signal.azimuth }} </li>

    <li>Azimuth: {{ signal.azimuth }} </li>

	<li>Distance (meters): {{ signal.meter_distance }} </li>

    <li>X Coordinates: {{ signal.sensor_latitude }}, Y Coodinates: {{signal.sensor_longitude}} </li>

    <li>Signal Strength: {{ signal.signal_strength }} </li>

	<li>Date/Time: {{ signal.date_time }} </li>
	
	<li>Sensor: {{ signal.sensor }} </li>

	<li>Device: {{ signal.device }} </li>

	<li>Encryption: {{ signal.encryption }} </li>

	<li>Modulation: {{ signal.modulation }} </li>

	<li>Power: {{ signal.power }} </li>

	<li>BSSID: {{ signal.bssid }} </li>

	<li>ESSID: {{ signal.essid }} </li>

	<li>AP Mode: {{ signal.apmode }} </li>


    






</ul>


