<h1>{{ signal.sensor }}</h1>



<ul>

    <li>Azimuth: {{ signal.azimuth }} </li>

	<li>Distance (meters): {{ signal.meter_distance }} </li>

    <li>X Coordinates: {{ signal.sensor_latitude }}, Y Coodinates: {{signal.sensor_longitude}} </li>

    <li>Signal Strength: {{ signal.signal_strength }} </li>

	<li>Date/Time: {{ signal.date_time }} </li>
	
	<li>Sensor: {{ signal.sensor }} </li>

	<li>Device: {{ signal.device }} </li>

	<li>Encryption: {{ signal.encryption }} </li>

	<li>Modulation: {{ signal.modulation }} </li>

	<li>Power: {{ signal.power }} </li>

	<li>BSSID: {{ signal.bssid }} </li>

	<li>ESSID: {{ signal.essid }} </li>

	<li>AP Mode: {{ signal.apmode }} </li>


    



<br />

Now we add a form to edit the cadet's properties.

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'users:update' cadet.id %}" method="post">

{% csrf_token %} 

<input type="text" name="xnumber" value="{{cadet.xnumber}}" />

<select name="company_id">

    {% for company in companies %}
	
    

    <option value="{{company.id}}" 

    {% if cadet.company.id == company.id %} 

     selected

    {% endif %}



    >{{company}}</option>

    {% endfor %}

</select>

<input type="submit" value="Update cadet" />

</form>

</ul>


