{% extends 'rf/base_generic.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}

<p>Welcome, {{ user.get_username }}.  

<a href="{% url 'logout' %}">Log Out</a>

{% else %}

<a href="{% url 'login' %}">Log In</a>

{% endif %}

<p>

<h2>Signal List</h2>



{% if signal_list %} <!-- check if list is full or empty -->

<ul>



  {% for signal in signal_list %}

      <li><a href="./{{signal.sensor}}">{{signal.bssid}}</a> {{signal.essid}}</li>

  {% endfor %}



</ul>

{% else %}

<p>No signals in database</p>

{% endif %}


{% for device in devices %}
  Device: {{ device.device_name }}
  image = <img src='{% static device.image.model_pic.url %}'>
{% endfor %}


{% if user.is_authenticated and perms.user.add_signal %}

<a href="addsensor">Add sensor to database</a>

{% endif %}

</p>



{% endblock %}
